* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'silkscreen', sans-serif;
}
body {
  background-color: #1b1b1b !important;
  overflow-x: hidden !important;
}
.p {
  font-family: 'silkscreen', sans-serif;
}
.userHud {
  display: none;
}
.openHidden {
  display: flex;
  margin-top: 5em;
}
.hidden {
  display: none;
}
#end-battle-final {
  display: none;
}
.col-6 {
  width: 100% !important;
}


/* start game */
img {
  width: 260px;
}
.start-container {
  margin: 20px auto;
  margin-top: 15em;
  text-align: center;
}
.start-logo {
  width: 15%;
  padding-right: 0px;
  margin-top: 2em;
}
.start-logo img {
  margin-right: 40px;
}
.faq-btn {
  margin-top: 30px;
  margin-bottom: 2em;
  padding: 15px;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  color: #1b1b1b;
  background: #ffffff;
  text-decoration: none;
  text-align: center;
}
.faq-btn:hover {
  background: #1b1b1b;
  color: #ffffff;
  border: 2px solid #ffffff;
  transition: 0.3s;
}
#startBattle {
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 15px;
  width: 20%;
  cursor: pointer;
  font-size: 1.5rem;
}
#startBattle:hover {
  background: #1b1b1b;
  color: #ffffff;
  border: 2px solid #ffffff;
  transition: 0.3s;
}
::selection {
  color: #1b1b1b;
  background: #ED1D24;
}
.start-built {
  color: #ffffff;
  font-size: 1.2rem;
  margin-top: 4em !important;
}


@media screen and (max-width: 1006px) {
#startBattle {
  width: 40%;
}
}

@media screen and (max-width: 850px) {
.start-container {
  margin-top: 12em;
}
}

@media screen and (max-width: 768px) {
#startBattle {
    width: 40%;
}
}

@media screen and (max-width: 600px) {
.start-container {
    margin-top: 7em;
}
}

@media screen and (max-width: 520px) {
.start-container {
    margin-top: 7em;
}
#startBattle {
    width: 60%;
}
}

@media screen and (max-width: 360px) {
.start-built {
    font-size: 1rem;
}
}

@media screen and (max-width: 320px) {
.start-container {
  margin-top: 6em;
}
#startBattle {
  width: 80%;
}.start-logo img {
  width: 200px;
}
}
/* start game */


/* character select screen */
.header {
  background-color: #1b1b1b;
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}
.header img {
  margin-top: 2em;
  margin-bottom: 2em;
}
.interface {
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1b1b1b;
  margin-top: 12em;
}
#select-sprites {
  text-align: center;
  margin-top: 7em;
}
#select-sprites img {
  width: 90px;
  height: 90px;
  margin: 15px auto;
}
.interface div {
  width: 220px;
  padding: 0 10px 0 20px;
  text-align: left;
  position: absolute;
  top: 6em;
  left: 6em;
}
.interface a:hover div {
  background-color: #3c1d3d;
}
/* .interface h3 {
  font-family: "Acme", sans-serif;
  font-size: 22px;
  color: #f8b700;
  padding: 12px 0 4px;
} */
.main-heading {
  color: #ffffff;
}
.character-alias {
  font-family: 'silkscreen', sans-serif;
  text-align: center;
  font-size: 1.1rem;
  text-decoration: none;
  background: #ffffff;
  color: #1b1b1b;
  padding: 2px 20px;
}


@media screen and (max-width: 600px) {
.col {
    width: 50%; 
}
}

@media screen and (max-width: 500px) {
.interface div {
    padding: 0 30px 0 30px;
}
.col {
  width: 50% !important; 
}
}

@media screen and (max-width: 400px) {
  .interface div {
    padding: 0 15px 0 15px;
}
}

@media screen and (max-width: 300px) {
.main-heading {
    text-align: center;
}
.col {
    width: 100% !important;
    flex: auto !important;
}
}
/* character select screen */


/* battle screen */
#btn--search {
  width: 50% !important;
  display: none;
}
.arena {
  width: 100%;
  height: 150px;
  background-color: #fafafabc;
  padding: 20px;
  text-align: center;
}
.arenaOne {
  width: 100%;
  height: 150px;
  background-color: #fafafabc;
  padding: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
#hud-logo {
  cursor: auto;  
}
#hud-logo img {
  width: 100px;
}

/* enemy styling */
.enemy {
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1b1b1b;
}
.enemy a {
  display: flex;
  flex-wrap: nowrap;
}
.enemy div {
  width: 220px;
  padding: 0 10px 0 20px;
  position: absolute;
  top: 16em;
  right: 6em;
}
/* .enemy a:hover div {
  background-color: #3c1d3d;
} */
.enemy p {
  font-family: 'silkscreen', sans-serif;
  font-size: 14px;
  color: #d5c8af;
  line-height: 20px;
}
.enemy img {
  width: 90px;
  height: 90px;
  margin: 15px auto;
  position: fixed;
  top: 14em;
  left: 5em;
}

/* player styling */
.interface img {
  width: 90px;
  height: 90px;
  margin: 15px auto;
  position: fixed;
  top: 5em;
  right: 5em;
}
.interface p {
  font-size: 14px;
  color: #d5c8af;
}




@media screen and (min-width: 2345px) {
  .interface img {
    right: 50em;
  }
  .enemy img {
    left: 50em;
  }
  .interface div {
    left: 50em;
  }
  .enemy div {
    right: 50em;
  }
}

@media screen and (max-width: 2344px) {
  .interface img {
    right: 40em;
  }
  .enemy img {
    left: 40em;
  }
  .interface div {
    left: 40em;
  }
  .enemy div {
    right: 40em;
}
}

@media screen and (max-width: 2150px) {
  .interface img {
    right: 30em;
  }
  .enemy img {
    left: 30em;
  }
  .interface div {
    left: 30em;
  }
  .enemy div {
    right: 30em;
}
}

@media screen and (max-width: 1745px) {
  .interface img {
    right: 20em;
  }
  .enemy img {
    left: 20em;
  }
  .interface div {
    left: 20em;
  }
  .enemy div {
    right: 20em;
}
}

@media screen and (max-width: 1550px) {
  .interface img {
    right: 50em;
  }
  .enemy img {
    left: 50em;
  }
  .interface div {
    left: 50em;
  }
  .enemy div {
    right: 50em;
  }
  }

@media screen and (max-width: 1545px) {
  .interface img {
    right: 20em;
  }
  .enemy img {
    left: 20em;
  }
  .interface div {
    left: 20em;
  }
  .enemy div {
    right: 20em;
  }
}

@media screen and (max-width: 1440px) {
.interface img {
  right: 10em;
}
.enemy img {
  left: 10em;
}
.interface div {
  left: 10em;
}
.enemy div {
  right: 10em;
}
}

@media screen and (max-width: 1000px) {
  .interface img {
    right: 5em;
  }
  .enemy img {
    left: 5em;
  }
  .interface div {
    left: 5em;
  }
  .enemy div {
    right: 5em;
  }
}

@media screen and (max-width: 600px) {
  .interface img {
    right: 1em;
  }
  .enemy img {
    left: 1em;
  }
  .interface div {
    left: 1em;
  }
  .enemy div {
    right: 1em;
  }
  .header {
    margin-top: 1em;
  }
  .arena {
    width: 50%;
    padding: 24px;
    line-height: 1.8em;
    padding: 18px;
    font-size: 0.8rem;
  }
  .arenaOne {
    width: 50%;
  }
  .arena, .arenaOne {
    height: 130px;
    padding: 0px;
  }
  .arenaPlayer, .arenaEnemy, #opponent-search, #item-roll {
    font-size: 0.8rem;
  }
  .arenaPlayer{
    margin-top: 3em;
}
  #hud-logo img {
   width: 70px;
   margin-right: 0.5em;
}
}

@media screen and (max-width: 500px) {
.openHidden {
  margin-top: 0em;
  flex-wrap: wrap;
}
.arenaOne {
  padding: 18px;
}
.interface img {
  top: 1em;
}
.interface div {
  top: 2em;
}
.enemy img {
  top: 10em;
}
.enemy div {
  right: 2em;
  top: 10em;
}
}

@media screen and (max-width: 450px) {
.arenaOne {
  padding: 16px;
}
}

@media screen and (max-width: 400px) {
.interface img {
  top: 1em;
}
.enemy img {
  top: 10em;
}
.interface div {
 top: 1em;
}
.enemy div {
  top: 10em;
}
.header {
  margin-top: -3em;
}
.openHidden {
  margin-top: 3em;
}
}

@media screen and (max-width: 375px) {
.header img {
  margin-right: 1.5em;
}
}

@media screen and (max-width: 360px) {
.character-alias {
  font-size: 1rem;
}
}

@media screen and (max-width: 320px) {
.interface img {
  width: 60px;
  height: 60px;
}
.enemy img {
  width: 60px;
  height: 60px;
}
.main-heading {
  font-size: 1.4rem;
}
.header {
  margin-top: 3em;
}
.header img {
  width: 230px;
}
.openHidden {
  margin-top: -3em;
}
.arenaPlayer, .arenaEnemy, #opponent-search, #item-roll, #start-fight {
  font-size: 0.6rem;
}
#hud-logo img {
  width: 50px;
}
}

@media screen and (max-width: 300px) {
.interface div {
  left: 0em;
}
.enemy div {
  left: 5em;
}
}

@media screen and (max-width: 270px) {
.header img {
  width: 200px;
}
.main-heading {
  font-size: 1.2rem;
}
}

@media screen and (max-width: 200px) {
.header img {
  width: 160px;
}
}
/* battle screen */


/* Progress Bar styling */
progress {
  border-radius: 0px; 
  width: 100%;
  height: 15px;
}
progress::-webkit-progress-bar {border-radius: 0px;}
progress::-webkit-progress-value {
  background-color: green;
  border-radius: 0px;
}
/* Progress Bar styling */


/* How to play page */
.htp-header {
  background-color: #1b1b1b;
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.htp-header img {
  margin-top: 10em;
  margin-bottom: 2em;
}
.htp-content {
  width: 60%;
  margin: auto;
  margin-top: 10em;
  margin-bottom: 6em;
  color: #ffffff;
}
.htp-heading {
  text-decoration: underline;
}
.htp-text {
  margin-bottom: 2em;
}




@media screen and (max-width: 990px) {
.htp-content {
  width: 90%;
}
}

@media screen and (max-width: 768px) {
.htp-content {
  width: 100%;
}
}

@media screen and (max-width: 575px) {
.htp-content {
  width: 90%;
}
ol {
  padding-left: 1rem !important;
}
}

@media screen and (max-width: 440px) {
  .htp-content {
    width: 90%;
}
}

@media screen and (max-width: 300px) {
  .htp-header img {
    width: 200px ;
  }
}
/* How to play page */