* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'silkscreen', sans-serif;
}
body {
  background-color: #1b1b1b !important;
  overflow-x: hidden !important;
}
.p {
  font-family: 'silkscreen', sans-serif;
}
.userHud {
  display: none;
}
.openHidden {
  display: flex;
  margin-top: 5em;
}
.hidden {
  display: none;
}
#end-battle-final {
  display: none;
}


/* start game */
img {
  width: 160px;
}
.start-container {
  margin: 20px auto;
  margin-top: 15em;
  text-align: center;
}
.start-logo {
  width: 15%;
  padding-right: 1em;
}
#startBattle {
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 15px;
  width: 20%;
  cursor: pointer;
  font-size: 1.5rem;
}
#startBattle:hover {
  background: #1b1b1b;
  color: #ffffff;
  border: 2px solid #ffffff;
  transition: 0.3s;
}
::selection {
  color: #1b1b1b;
  background: #ED1D24;
}
.start-built {
  color: #ffffff;
  font-size: 1.2rem;
}


@media screen and (max-width: 1006px) {
#startBattle {
    width: 40%;
}
}

@media screen and (max-width: 768px) {
#startBattle {
    width: 40%;
}
}

@media screen and (max-width: 600px) {
.start-container {
    margin-top: 7em;
}
}

@media screen and (max-width: 520px) {
.start-container {
    margin-top: 7em;
}
#startBattle {
    width: 60%;
}
}

@media screen and (max-width: 360px) {
.start-built {
    font-size: 1rem;
}
}
/* start game */


/* character select screen */
.header {
  background-color: #1b1b1b;
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.header img {
  margin-top: 10em;
  margin-bottom: 2em;
}
.interface {
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1b1b1b;
  margin-top: 12em;
}
#select-sprites {
  text-align: center;
  margin-top: 12em;
}
#select-sprites img {
  width: 90px;
  height: 90px;
  margin: 15px auto;
}
.interface div {
  width: 220px;
  padding: 0 10px 0 20px;
  text-align: left;
  position: absolute;
  top: 6em;
  left: 6em;
}
.interface a:hover div {
  background-color: #3c1d3d;
}
/* .interface h3 {
  font-family: "Acme", sans-serif;
  font-size: 22px;
  color: #f8b700;
  padding: 12px 0 4px;
} */
.main-heading {
  color: #ffffff;
}
.character-alias {
  font-family: 'silkscreen', sans-serif;
  text-align: center;
  font-size: 1.1rem;
  text-decoration: none;
  background: #ffffff;
  color: #1b1b1b;
  padding: 2px 20px;
}


@media screen and (max-width: 600px) {
.col {
    width: 50%; 
}
}

@media screen and (max-width: 500px) {
.interface div {
    padding: 0 30px 0 30px;
}
.col {
  width: 50% !important; 
}
}

@media screen and (max-width: 400px) {
  .interface div {
      padding: 0 15px 0 15px;
}
}

@media screen and (max-width: 300px) {
.main-heading {
    text-align: center;
}
.col {
    width: 100% !important;
    flex: auto !important;
}
}
/* character select screen */


/* battle screen */
#btn--search {
  width: 50% !important;
  display: none;
}
.arena {
  width: 100%;
  height: 100px;
  background-color: #fafafabc;
  padding: 20px;
  text-align: center;
}
.arenaOne {
  width: 100%;
  height: 100px;
  background-color: #fafafabc;
  padding: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

/* enemy styling */
.enemy {
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1b1b1b;
}
.enemy a {
  display: flex;
  flex-wrap: nowrap;
}
.enemy div {
  width: 220px;
  padding: 0 10px 0 20px;
  position: absolute;
  top: 16em;
  right: 6em;
}
/* .enemy a:hover div {
  background-color: #3c1d3d;
} */
.enemy p {
  font-family: 'silkscreen', sans-serif;
  font-size: 14px;
  color: #d5c8af;
  line-height: 20px;
}
.enemy img {
  width: 90px;
  height: 90px;
  margin: 15px auto;
  position: fixed;
  top: 14em;
  left: 5em;
}

/* player styling */
.interface img {
  width: 90px;
  height: 90px;
  margin: 15px auto;
  position: fixed;
  top: 5em;
  right: 5em;
}
.interface p {
  font-size: 14px;
  color: #d5c8af;
}
/* battle screen */


/* Progress Bar styling */
progress {
  border-radius: 0px; 
  width: 100%;
  height: 15px;
}
progress::-webkit-progress-bar {border-radius: 0px;}
progress::-webkit-progress-value {
  background-color: green;
  border-radius: 0px;
}
/* Progress Bar styling */

